<div id="a">

  <h4>Listado de Pokemon</h4>

  <div class="b" class="flex-between">
    <input id="name" placeholder="Buscar" type="text" (keyup)="onSearch($event)" maxlength="20">
    <button class="btn" type="button" (click)="isNew=true">
      <i class="fa fa-plus"></i>
      Nuevo
    </button>
  </div>

  <br>

  <app-table class="b" [listPokemons]="pokemonBySearch"></app-table>

  <app-edit class="b" *ngIf="isNew" (isVisible)="onIsVisible()"></app-edit>

  <app-snackbar (message)="onMessage()"></app-snackbar>

</div>
